# Dependencies
node_modules/

# Environment
.env
*.env.local

# Logs
logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml

# IDE
.vscode
.idea

# Build
dist
build
.next

# Misc
.DS_Store
*.swp